<!doctype html>
<html>
<head>
	<link href='{{ url_for('static', filename='helloworld.css') }}' rel='stylesheet' type='text/css'/>
	<title>Hello World in Flask</title>
</head>
<body>
	<strong>Hello Playlab.</strong>
    <br> 

    <strong> I'm Operation Engineer. candidate </strong> 
</body>
</html>
